# Vue Server Configurations https://router.vuejs.org/guide/essentials/history-mode.html#example-server-configurations
<IfModule mod_negotiation.c>
  Options -MultiViews -Indexes
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# GZip Compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/javascript text/css application/x-javascript application/javascript
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4.0[-1] no-gzip
  BrowserMatch bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>

# Caching
<FilesMatch "\.(html|htm|js|css|jpg|jpeg|gif|png|wav)$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000, public"
  </IfModule>
</FilesMatch>
