:root {
  font-family: 'Comic Neue', 'Verdana', 'Arial';
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Remove static vertical scrollbar introduced by Vuetify */
html {
  overflow-y: auto;
}

h1 {
  font-family: 'Bubblegum Sans', 'Arial';
}
